# Python-related
__pycache__/
*.py[cod]
*.sqlite3
*.db
*.jpeg
# Environment variables

# Virtual environment
nutrition

# VSCode or IDE specific
.vscode/
.idea/

# Mac/Linux/Windows system files
.DS_Store
Thumbs.db

